<div class="layout-sidebar">
  <a class="logo" href="#/">StackApp</a>
  <div class="layout-menu ">
    <div class="menu-category ">Public</div>
    <div class="menu-items">
      <a [routerLink]=[links.questions] routerLinkActive="activeTab">Questions</a>
      <a [routerLink]=[links.tags] routerLinkActive="activeTab">Tags</a>
      <a [routerLink]=[links.users] routerLinkActive="activeTab">Users</a>
    </div>
    <!-- <div class="menu-category ">Extra </div>
    <div class="menu-items ">
      <a [routerLink]=[links.answers] routerLinkActive="activeTab">Answers</a> -->
    <!-- </div> -->
  </div>
</div>