/* You can add global styles to this file, and also import other style files */



body {
  margin: 0;
}

a {
  text-decoration: none;
}


body {
  font-family: 'Readex Pro', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
